<div class="header">
  <nav class="navbar">
    <div class="navbar__logo">
    </div>
    <ul class="navbar__list">
      <li class="navbar__list-logo">
        <a routerLink="/">
          <img
            alt="logo"
            src="/assets/images/logo.jpg"
            class="logo"
          />
        </a>
      </li>
      <li class="navbar__list-item">
        <a routerLink="/news">Новости</a>
      </li>
      <li class="navbar__list-item">
        <a routerLink="/articles">Статьи</a>
      </li>
      <li class="navbar__list-item">
        <a routerLink="/projects">Проекты</a>
      </li>
      <li class="navbar__list-item">
        <a routerLink="/psy">Психологи</a>
      </li>
      <li class="navbar__list-item">
        <a routerLink="/shop">Наш магазин</a>
      </li>
      <li class="navbar__list-item">
        <a routerLink="/about">О нас</a>
      </li>
      <li class="navbar__list-item">
        <a routerLink="/login">Войти</a>
      </li>
    </ul>
  </nav>
</div>
