<div class="login">
  <div class="login__header">
    <div>
      Вход для администраторов
    </div>
  </div>

  <div class="login__content">
    <form [formGroup]="loginFormGroup" class="login-form">
      <div class="email-control">
        Введите почту
        <input
          formControlName="email"
          type="email"
          placeholder="user@example.com"
          autocomplete="email"
        />
      </div>

      <div

        class="password-control"
      >
        Введите пароль
        <input
          formControlName="password"
          type="password"
          autocomplete="current-password"
        />
    </div>

      <button (click)="login()">
        Войти
      </button>
    </form>
  </div>
</div>

<ng-template #passwordTootip>
  <div class="password-rule">
    Не менее 8 символов
  </div>
  <div class="password-rule">
    Заглавные и строчные символы
  </div>
  <div class="password-rule">
    Цифры
  </div>
  <div class="password-rule">
    Специальные символы
  </div>
</ng-template>
